{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <a class="nav-link" href="{{ path('concertAdminArtiste') }}">Aller à l'adminidtration des Artistes & villes</a>

    <form action="{{ path('concertAdmin') }}" method="post">
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1">Jour</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" name="date">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Heure</label>
                <input type="time" class="form-control" id="exampleFormControlInput1" name="heure">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Ville</label>
            <select class="form-control" id="exampleFormControlSelect1" name="city">
                {% for city in cities %}<option>{{ city.name|upper }}</option>{% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Artiste</label>
            <select class="form-control" id="exampleFormControlSelect1" name="artiste">
                {% for artiste in artistes %}<option>{{ artiste.name|upper }}</option>{% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
    </form>

{% include 'concert/listConcert.html.twig' %}
{% endblock %}
