{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <a class="nav-link" href="{{ path('concertAdmin') }}">
        Aller à l'adminidtration des concerts
    </a>
<div class="row">
    <div class="col-sm">
        <h5 class="card-title">Nouvel artiste</h5>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form.name) }}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
        <br>
        <h5 class="card-title">Nouvel ville</h5>
        {{ form_start(form2, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form2.name) }}
        {{ form_widget(form2.save) }}
        {{ form_end(form2) }}
    </div>
    <div class="col-sm">
        <h5>Artistes</h5>
        {% for artiste in artistes %}
            <li>
                {{ artiste.id }}
                {{ artiste.name }}
            </li>
        {% endfor %}

    </div>
    <div class="col-sm">
        <h5>Villes</h5>
        {% for city in cities %}
            <li>
                {{ city.id }}
                {{ city.name }}
            </li>
        {% endfor %}

    </div>
</div>





{% endblock %}
