{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {{ dump(event.date) }}
<form action="{{ path('edit', {'id': event.id}) }}" method="post">
    <div class="row">
        <div class="col">
            <label for="exampleFormControlInput1">Jour</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" name="date" value="{{ event.date|date('Y-m-d') }}">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Heure</label>
            <input type="time" class="form-control" id="exampleFormControlInput1" name="heure" value="{{ event.date|date('H:i') }}">
        </div>

    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Ville</label>
        <select class="form-control" id="exampleFormControlSelect1" name="city">
            {% for city in cities %}<option>{{ city.name|upper }}</option>{% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Artiste</label>
        <select class="form-control" id="exampleFormControlSelect1" name="artiste">
            {% for artiste in artistes %}<option>{{ artiste.name|upper }}</option>{% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
</form>
{% endblock %}