{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Rechercher un concert</h1>
    <form class="form-inline my-2 my-lg-0" action="{{ path('concert') }}" method="post">
        <div class="mr-sm-2">
             <input class="form-control mr-sm-2" type="search"
                   placeholder="Artiste" aria-label="artiste"
                    name="artiste">
        </div>
        <div class="mr-sm-2">
            <select class="form-control" id="exampleFormControlSelect1" name="city" required>
                {% for city in cities %}<option>{{ city.name|upper }}</option>{% endfor %}
            </select>
        </div>
        <div class="mr-sm-2">
            <input type="date" class="form-control" id="exampleFormControlInput1" name="dateMin"
                   value="{{ dateMin|date('Y-m-d') }}" required>
        </div>
        <div class="mr-sm-2">
            <input type="date" class="form-control" id="exampleFormControlInput1" name="dateMax"
                   value="{{ dateMax|date('Y-m-d') }}" required>
        </div>
        <br>
        <div class="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>


    </form>
</div>

    {% include 'concert/listConcert.html.twig' %}
{% endblock %}
