
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(events, 'Id', 'id') }}</th>
        <th{% if events.isSorted('artiste.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(events, 'Artiste', 'artiste.name') }}</th>
        <th{% if events.isSorted('city.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(events, 'Ville', 'city.name') }}</th>
        <th>{{ knp_pagination_sortable(events, 'Date', 'date' ) }}</th>

    </tr>
    {% for event in events %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ event.id }}</td>
            <td>{{ event.artiste.name }}</td>
            <td>{{ event.city.name }}</td>
            <td>{{ event.date|date('d-m-y H:i') }}</td>

            {% set currentPath = path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) %}


            {% if 'administration' in currentPath %}
            <td><a href="{{ path('delete', { 'id':event.id}) }}">Delete</a></td>
            <td><a href="{{ path('edit', { 'id':event.id}) }}">Edit</a></td>
            {% endif %}

        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(events) }}
</div>