<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Les concerts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}

    {% set active = 'active' %}
    {% set home = '' %}
    {% set administration = '' %}

    {% if currentPath == '/' %}
        {% set home = active %}
    {% elseif '/administration' in currentPath %}
        {% set administration = active %}
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ home }}">
                <a class="nav-link" href="{{ path('concert') }}">Accueuil </a>
            </li>
            <li class="nav-item {{ administration }}">
                <a class="nav-link" href="{{ path('concertAdmin') }}">Administration</a>
            </li>
        </ul>

    </div>
</nav>